<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/stylesheets/style5.css">
</head>
<body>
    <%- include('header.ejs') %>
 <div class="newdiv">
    <div class="child-container1">
        <img src="/images/WhatsApp Image 2023-05-28 at 04.22.18.jpg" alt=""  width="250" height="300">
        <div class="resume">
          <a href="https://drive.google.com/file/d/1xa4jhQ5_8lc8qqQXI1j9c68haHIhmi52/view?usp=drive_link"> Link to the Resume</a>
        </div>
    </div>
    <div class="child-container2">
    <span class="large">Hii ! I am Jashanpreet Kaur Bains</span>
    <div class="yellow">  Hi, I'm Jashan, a passionate front-end developer with a strong focus on creating engaging and interactive web experiences. With a background in web design and a keen eye for detail, I strive to deliver visually appealing and user-friendly websites.
      I have a solid understanding of HTML, CSS, and JavaScript, and I'm constantly staying updated with the latest web technologies and best practices. My goal is to combine technical skills with creativity to bring ideas to life on the web.
      Throughout my career, I have worked on various projects, collaborating with cross-functional teams to design and develop responsive websites that deliver a seamless user experience across different devices. I am skilled in front-end frameworks like Bootstrap and have experience with modern JavaScript libraries and frameworks like React.
      I am passionate about continuous learning and growth, and I enjoy exploring new tools and techniques to enhance my development skills. I thrive in a collaborative environment and enjoy working with others to bring innovative ideas to the table.
      If you're looking for a dedicated front-end developer who is committed to delivering high-quality code and exceptional user experiences, I would love to connect and discuss how I can contribute to your projects.
      <hr>
     <span class="large"> Moving Towards Success</span>
     </div>
    </div>
 </div>
 <br> <br><br><br>
</body>
<%- include('footer.ejs') %>
</html>