<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <%- include('header.ejs') %>
 <div class="real">
    <div class="picture">
          
    </div>
    <div class="flexitem1">
    <div class="boxinone1">
        "Creating exceptional web experiences through <span class="estate">innovative front-end development and user-centric design</span> , ensuring optimal performance, accessibility, and client satisfaction."
        
       
    </div>

    
      
        
    </div>
    <div class="flexitem2">
       <div class="boxjas">
        <div class="name"><span class="imperials">J</span>ashanpreet <span class="imperials">K</span>aur  Bains<span class="imperials">
            
            <br>
       <span class="state"> (Front End Designer) </span></div>
       <div class="harman">
        Comments from my clients.......
       </div>
       </div>
        <div class="boxinsecond">
           
            <div class="info">
                <span class="about">About Me</span>
                <br><br>
               <div class="main">
                <span class="hello">Hello</span> I'm Jashanpreet Kaur Bains, a core front end developer 
        <br>
           The three things i just rely on is - <span class="keys">faith,
                time</span> and finally providing an  quality <span class="keys"> designs</span> for
            every client. Being able yo deing any kind of website , i feel self relient .
        <br>
         <br>
            <span class="touch">Personal Details</span>
            <br>
            <br>
            
            <span class="email">
            Jashanpreet Kaur Bains <br>
          Front End Developer<br>
            555-12345 <br>
            bainsjashan111@gmail.com
            </span>
               </div>
                
               
                

            </div>
            <div class="info2">
                <div class=" box1">
                    
                    <div class="boxinbox">Roseline Navy James</div>
                    <div class="boxinbox1"> "Wow!I wanted to have a good front end website for my cooking website and she did amazing"</div>
                </div>
                
                <div class=" box2"> 
                    <div class="boxinbox">James Arisha Manis</div>
                    <div class="boxinbox1">"So glad that JB helped me lot in my website process "</div>
                </div>
               
                <div class=" box3"> 
                    <div class="boxinbox"> Gomar TUdas Milas</div>
                        <div class="boxinbox1">"JB was always available to help me when i was in need in making my real estate website.. "</div>
                   </div>
               
            </div>
 
        </div>
        
       
    </div>

   
 </div>

       
<br>
<br>
</body>
<%- include('footer.ejs') %>
</html>
