<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/stylesheets/style4.css">
<body>
   
   <%- include('header.ejs') %>

   
 <div class="sale"><span class="new">Projects</span> I am working on......</div>
 <div class="biggestflex">
  <div class="box1">
    <div class="image"> <a href="../pageListing1/Listing1.html"><img src="https://i1.wp.com/newsnblogs.com/wp-content/uploads/2020/02/3-Best-Blogging-Platforms.png?resize=800%2C445&ssl=1" height="100%" width="100%"  alt="none"></a></div>
    <div class="content"> <span class="bold">Project1 1</span>
        <p>
           <span class="contentbold">Blogging</span>
        </p>
        <p><span class="contentbold">Publishing blog content offers many benefits. Blogging can help you establish authority in an industry. It can drive brand awareness, share company news, and better convert website traffic into leads.But the wrong platform can also limit your returns. It can restrict your ability to gather leads, improve SEO, monetize your blog, and more.

            There are many great choices for blogs that come at little or no cost, with a ton of valuable features that can bring you results for your efforts. </span></p>
    </div>
  </div>
  <div class="box1">
    <div class="image"><a href="../pageListing1/Listing2.html"><img src="https://angularexpo.com/content/images/2018/10/1_y3c9ggOkOzdAr8JC7TUrEQ@2x.png" height="100%" width="100%" alt="nothing"></a></div>
    <div class="content"><span class="bold">Project 2</span>
        <p>
            <span class="contentbold">Weather Website</span>
 
 
         </p>
         <p><span class="contentbold">The following tasks are presented when it comes to the OpenWeatherMap API:

            Data for Current Weather: With this request, you can get up-to-date weather information from anywhere around the globe. The database is updated regularly with resources from over 40000 weather stations.
            Forecast Weather Data: This provides weather forecasts for any location in the world. Using a flexible algorithm of weather calculations, you can get weather information not only for cities but also for any geographical coordinate.
            Search Weather Data:  </span></p></div>
  </div>
  <div class="box1">
    <div class="image"><a href="../pageListing1/Listing3.html"><img src="https://th.bing.com/th/id/OIP.ePyw5UdYkGo0FsY2FFRChAHaDt?pid=ImgDet&rs=1" height="100%" width="100%" alt="none"></a></div>
    <div class="content">
        <span class="bold">Project 3</span>
        <p>
            <span class="contentbold">E-Commerce Website</span>
 
 
         </p>
         <p><span class="contentbold">An ecommerce project plan helps you get realistic about your budget, timeline, and capabilities and stay this way throughout the project.
            Clear goals and objectives drive your project decisions, so it’s hard to go over the project scope unless you’re about to add some relevant functionalities.
            It’s a way to keep your finger on the pulse of the project: to see whether the tasks are completed in order and on time to come at an expected release date.
         </span></p>
    </div>
  </div>
</div>
<%- include('footer.ejs') %>
</body>

</html>