
<!DOCTYPE html>
<html lang="en">
    <head>
<!--
      
-->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style3.css" />
    <title> JavaScript</title>
</head>



<body> 
    <%- include('header.ejs') %>
    <h1 style="text-align:center;" class="h1"><span class="service">Services</span> We Provide ........ </h1>
    <div id="c-slider" class="c-slider">
        <div id="slider" style="margin-left:-176.221%;">
                    
          <section><button class="bs button bfavorite1"></button><img class="thumb1" src="https://i.pinimg.com/originals/5d/3f/b0/5d3fb0a913b8ce83c091a34ea6c2dc2a.jpg" alt=" " ></section>
          <section><button class="bs button bfavorite2"></button><img class="thumb2" src="https://aimsity.com/wp-content/uploads/2016/04/Home-page-Basic-programming-01.png" height="50" width="70" alt=""></section>
          <section><button class="button bfavorite3 bs"></button><img class="thumb3" src="https://i.pinimg.com/originals/bc/a9/5b/bca95b8ce8ba5d9ea8b915b3ff210823.jpg" alt=""></section><section>
          <button class="button bfavorite4 bs"></button><img class="thumb4" src=https://th.bing.com/th/id/OIP.W525P8jzhEwACHrAyJ4WIAHaEK?pid=ImgDet&rs=1 alt=""></section>

          
          
         
        </div>
    
        
      </div>
      <img class="photo-overlay1" style="margin-left:204px;width: 70%;" src="https://4.bp.blogspot.com/-iSSKpqUg6BU/XIr2e3x0LJI/AAAAAAAAInc/4zxLz--78fI82RtGRLTgMEcQZHy_JlWgQCLcBGAs/s400/Web-Development-Services.jpg"/>
      <img class="photo-overlay2" style="margin-left:204px;width: 70%;" src="https://easydrawingguides.com/wp-content/uploads/2020/07/Chihuahua-Step-10.png" height="50" width="70"/>
       <img class="photo-overlay3" style="margin-left:204px;width: 70%;" src="https://easydrawingguides.com/wp-content/uploads/2020/09/Dachshund-Step-10.png" height="70" width="60"/>
       <img class="photo-overlay4" style="margin-left:240px;width: 70%;" src="https://th.bing.com/th/id/OIP.W525P8jzhEwACHrAyJ4WIAHaEK?pid=ImgDet&rs=1" height="70" width="50"/>

       <button class="button button3" id="close">X</button> 
      <br>
    

     

      </div><br>
      <div class="contentdiv">
        <div class="grid-item">
            <div class="one">Web Development</div>
            <div class="two">Mobile application development is the process of creating software applications that run on a mobile device, and a typical mobile application utilizes a network connection to work with remote computing resources. Hence, the mobile development process involves creating installable software bundles (code, binaries, assets, etc.) , implementing backend services such as data access with an API, and testing the application on target devices.</div>
        </div>
        <div class="grid-item">
            <div class="one">Basic Programming</div>
            <div class="two">Our experts maintain the originality and accuracy of your assignment so that you do not lose marks because of plagiarism and errors.Programming still involves writing instructions for the computer to follow, but now data structures and algorithms are important. Some coding languages such as HTML, CSS, and Markdown don't use algorithms and data structures, while others such as JavaScript, Python, Java, and C++ use them heavily.This is what we provide</div>
        </div>
        <div class="grid-item">
            <div class="one">Mobile App Development</div>
            <div class="two">We are an accomplished mobile app development company in Canada that dreams, architects, designs and develops innovative solutions that deliver unparalleled results in line with your business goals. Our talented app development team builds secure, robust, feature-packed and highly scalable web and mobile apps that enhance user experience and exceed your expectations. When searching for a reliable technology partner for web and mobile app development, look no further than AppStudio.

                Show all services </div>
        </div>
        <div class="grid-item">
            <div class="one">full stack develpment</div>
            <div class="two">Work with Scrum teams using agile methodologies to bring transparency and flexibility to product development. Toptal can help your company easily build a new Scrum team or bring additional talent to an existing one.
                Having an intuitive and responsive website is the difference between hitting goals and losing engagement. Top developers allow you to effectively improve your performance and scalability by building additional functionalities, integrating APIs, and increasing engagement on site.</div>
        </div>
      </div>
      <br>
      <br>
      <br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascripts/JavaScript1.js"></script>   

    </body>
    <%- include('footer.ejs') %>
</html>